{% extends "base.html"%}
{% block content%}
<div class="main-outer-box"> 
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
    </svg>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success d-flex align-items-center" role="alert" style="height: 24px; margin-top: 3vh;">
            <svg role="img" style="height: 18px; width:18px; margin:0px;"><use xlink:href="#check-circle-fill"/></svg>
            <div style="margin-left: 1vw; display: flex; align-items: center;">
              <b>{{message}}</b>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: 4vw;"></button>
        </div>
        {% endfor %}
        {% endif %}
    <h3 class="mt-5">Assignments</h3>
    {%for assignment in assignments%}
    <a href="../{{assignment.id}}/submissions" style="text-decoration: none;">
    <div class="form-control subject-name"><b>{{assignment.title}}</b></div>
    </a>
    {%endfor%}
<div class="main-outer-box">
    <div class="form-box">
        {% csrf_token %}
        <h3 class="text-center" style="color: white; margin-bottom: 4vh;">ADD NEW STUDENT</h3>
        <form method="post">
            {%csrf_token%}
            <div class="form-outline mb-2">
                <select class="select role-selection" name="select-student-prn" id="select-student-prn">
                    <option value="">Select PRN</option>
                    {%for student in students%}
                    <option value={{student.id}} name="">{{student.PRN}}</option>

                    {%endfor%}
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn-info btn-lg main-button">Add</button>
            </div>
        </form>
    </div>
    
    <div class="form-box" style="box-shadow: 0.5px 0.5px 4px gray;">
        
        <h3 class="text-center" style="color: white; margin-bottom: 4vh;">ADD NEW ASSIGNMENT</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.title}}
            {{form.instruction}}
            {{form.question}}
            
            {{form.maxmarks}}
            <label>
                <h6 style="color: white; margin: 0px;">Set due date for submission</h6>
            </label>
            {{form.deadline}}
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn-info btn-lg main-button">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}