{% extends "base.html"%}
{% block content %}
<div class="main-outer-box">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    {% if err %}
    {% for er in err %}
    <div class="alert alert-danger d-flex align-items-center" role="alert" style="height: 24px; margin-top: 3vh;">
        <svg role="img" style="height: 18px; width:18px; margin:0px;">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div style="margin-left: 1vw; display: flex; align-items: center;">
            <b>{{er}}</b>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            style="margin-left: 4vw;"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="form-box">
        <h3 class="text-center" style="color: white; margin-bottom: 4vh;">CREATE AN ACCOUNT</h3>
        <form method="post">
            {%csrf_token%}
            <div class="name-input">
                {{form.first_name}}
                {{form.last_name}}
            </div>
            {{form.username}}
            {{form.email}}
            {{form.password}}
            <h6 style="color: white;">Please select your role:</h6>
              <input type="radio" name="roll" value="Teacher" onclick="enterprnclose()">
              <label for="html" style="color: white;font-size: 18px;">Teacher</label><br>
              <input type="radio" name="roll" value="Student" onclick="enterprn()">
              <label for="css" style="color: white;font-size: 18px;">Student</label><br>
            <input type="text" value="" name="prn" class="form-control form-input" id="prn" style="display: none;"
                placeholder="Enter your PRN">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn-info btn-lg main-button" style="background-color: #00E5FF;">Sign
                    up</button>
            </div>
            
        </form>
        <div class="other-option">
            <label>
                <h6 style="color: white;">Account already exists?</h6>
            </label>
            <button class="btn btn-signup" style="margin: 0px;"><a href="{% url 'home' %}"
                    style="text-decoration: none; color: black;"><b>Log in</b></a></button>
        </div>
    </div>
</div>
<script>
    function enterprn() {
        document.getElementById("prn").style.display = "block";
        document.getElementById("prn").setAttribute("required", "true")
    }
    function enterprnclose() {
        document.getElementById("prn").style.display = "none";
        document.getElementById("prn").RemoveAttribute("required")
    }
</script>
{% endblock %}